@import "theme";

.card {
  transition: all 0.3s;
  display: flex;
  border-radius: 20px;
  margin-top: 20px;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  min-height: 300px;
  min-width: 200px;
  max-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

  &:hover {
    transform: scale(1.05);
  }
}

.card_heading {
  margin-top: 20px;
}

.card_body {
  margin-top: 20px;
  text-align: center;
}
