@import "theme";
@import "mixins";

.item_container {
  margin: 0 50px;
}

.item_heading {
  font-size: 16px;
  font-weight: 500;
}

@include mobile-view {
  .item_container {
    margin: 0 20px;
  }
}
